*{
   margin: 0;
   padding: 0;
   text-decoration: none;
   list-style: none;
   color: black;
   font-family: 'GmarketSans';
   /*폰트*/
}


em{
   font-style: normal;
}
#wrap {
   width: 100%;

}
header{}
nav{
   background-color: #ffffff;
   border-bottom:2px solid rgba(0,0,0,0.3);
   border-top: 2px solid rgba(0,0,0,0.3);


}
/*네비타입*/
.nav_inner{
   width: 100%;
   height: 70px;
   display: flex;
   align-items: center;
   /*!*가운데로 글자 정렬*세로방향/*/
   justify-content: space-between;
   /*background-color: #b6f5b0;*/
   padding: 0 20px;
   /*패딩떔에 삐져나옴 패딩이 width 에 포함되서 40px이 삐져나옴*/
   box-sizing: border-box;
/*   이걸 해줘야 100% 안에서 패딩작업이 일어남*/


}
.nav__logo{
   width: 15%;
   font-size: 30px;
   font-weight: 700;
   /*background-color: #111;*/
}
.nav__logo em {
   font-size: 18px;
   font-weight: 400;
}
.nav__search{
   width: 20%;
   padding: 10px;
}
.nav__search input{
   padding: 8px;
   border-radius: 5px;
   margin-left: -25px;
}
.nav__search .search{}
.sch_btn{
   padding:8px 2px;
   border-radius: 5px;
}


.nav__manu{
   width: 50%;
   text-align: center;
   /*background-color: #555;*/

}
.nav__manu ul #red{
   color: red;
   font-size: 15px;
   font-weight: bold;
}
.nav__manu ul li{
   display: inline;
}
.nav__manu ul li a {
   padding: 15px 25px;
   margin: 0 5px;
   border-radius: 10px;
   transition: background-color 0.6s;

}
.nav__manu ul li a:hover{
   background-color: rgba(215, 215, 215, 0.72);
   border-radius: 10px;
   /*transition: background-color 3s;*/
   /*이건 바로없어짐*/
}
.nav__member{
   /*width: 20%;*/
   /*background-color: #999;*/
   /*text-align: right;*/
}
.nav__member a{
   border:3px solid black;
   border-radius:50px ;
   padding: 10px 30px;
   background-color: #ffffff;

}

input[id="menuicon"]{
   display: none;
   padding-left: 30px;
}
input[id="menuicon"]+label{
   display: block;
   position: relative;
   width: 60px;
   height: 40px;
   cursor: pointer;
   z-index: 99;
}
input[id="menuicon"]+label span{

   display: block;
   position: absolute;
   width: 100%;
   height: 5px;
   border-radius: 30px;
   background-color: #090909;

   transition: all .2s;
}
input[id="menuicon"]+label span:nth-child(1){top: 0}
input[id="menuicon"]+label span:nth-child(2){
   top: 50%;
   transform: translateY(-50%);
}
input[id="menuicon"]+label span:nth-child(3){bottom: 0}

input[id="menuicon"]:checked+label{
   z-index: 99;
}

input[id="menuicon"]:checked+label span:nth-child(1){
   top: 50%;
   transform: translateY(-50%) rotate(45deg);
   background-color: #ff0000;
}
input[id="menuicon"]:checked+label span:nth-child(2){

   opacity: 0;
}
input[id="menuicon"]:checked+label span:nth-child(3){
   top: 50%;
   transform: translateY(-50%) rotate(-45deg);
   background-color: #ff0000;
}
.sidebar{
   width: 500px;
   height: 100%;
   background-color: rgba(141, 141, 141, 0.83);
   position: fixed;
   top: 72px;
   right: -560px;
   /*양쪽 패딩만큼 더*/
   z-index: 90;
   transition: all 0.35s;
   padding: 30px;
   display: grid;
   grid-template-areas:

      "cont1 cont2"
      "cont3 cont2"
      "cont3 cont4"
      "cont5 cont5"
;
   grid-template-rows:200px 340px 150px 780px ;
   grid-template-columns: 50% 50% ;

}
.sidebar_cont1{
   grid-area: cont1;
   width: 100%;
   height: 100%;
   padding: 30px;
   text-align: center;
   box-sizing: border-box;
   /*패딩주니까 상자가 커짐. ㅡㅡ*/
   background-color: #abbdfc;

}
.sidebar_cont2{
   grid-area: cont2;
   width: 100%;
   height: 100%;
   background-color: rgba(243, 145, 145, 0.91);
}


.sidebar_cont3{
   grid-area: cont3;
   width: 100%;
   height: 100%;
   background-color: rgba(224, 164, 248, 0.91);


}
.sidebar_cont4{
   grid-area: cont4;
   width: 100%;
   height: 100%;
   background-color: #96fda2;
}
.sidebar_cont5{
   grid-area: cont5;
   width: 100%;
   height: 100%;
   background-color: rgba(252, 217, 79, 0.87);
}





input[id="menuicon"]:checked+label+div{
   right: 0;
}


main{
   width: 100%;
   position: relative;
   /*height: 780px;*/
   height: auto;
   /*background: linear-gradient(rgba(255, 255, 255, 0.88), rgba(255, 255, 255, 0.6)),url("img/main.jpg");*/
   background: linear-gradient(rgba(9, 9, 9, 0.95), rgba(21, 20, 20, 0.15)),url("img/main.jpg");
   background-size: cover; /* 배경 이미지를 cover로 설정 */
   background-position: center; /* 배경 이미지를 중앙에 정렬 */
}


.container {
   width: 1200px;
   height: inherit;
   margin: 0 auto;
   /*padding: 0 ;*/
   /*background: rgb(255, 255, 255);*/

}
.contents{
   /*margin: 0;*/
   /*padding: 0;*/
   display: grid;
   grid-template-areas:
      "cont0 cont0"
      "cont1 cont1"
      "cont2 cont2"

   ;
   grid-template-rows:100px 1000px 350px  ;
   grid-template-columns: 50% 50% ;
}
.contents .cont0{
   grid-area: cont0;
   background-color: rgba(239, 231, 231, 0.24);
}


.contents .cont1{
   grid-area: cont1;
   background-color: rgba(227, 10, 10, 0.22);
   margin: 0;
}


.contents .cont2{
   grid-area: cont2;
   background-color: rgba(66, 72, 80, 0.5);
}
.cont2{
   /*overflow-y: scroll;*/
}


.cont2 li{
   float: left;
   width: 20%;
   margin-bottom: 5px;
   margin-top: 5px;
   text-align: center;
}

.cont2 li a span{
   position: relative;
   /*em용*/
   display: block;
   width: 220px;
   height: 300px;
   /*그림 크기 늘리기전에 이거먼저 늘려야함*/
   margin: 0 auto;
   line-height:300px ;
   /*이미지 전체적으로 가운데  em의 글씨를 가운데*/
}
.cont2 li a span img{
   width: 220px;
   height: 300px;
   margin-bottom: 10px;
   /*border-top-left-radius: 20px;*/
   /*border-bottom-right-radius: 20px;*/
   border-radius: 10px;
}
.cont2 li a span em{
   position: absolute;
   left: 0px;
   top: 0px;
   width: 100%;
   height: 100%;
   color: white;
   /*border-top-left-radius: 20px;*/
   /*border-bottom-right-radius: 22px;*/
   border-radius: 10px;

   display: none;
   background-color: rgba(86, 81, 81, 0.67);
}
.cont2 li a span:hover em{
   display: block;
}
.cont2 li a:hover strong{
   color: #6d87ff;
}

.cont2 li a strong{
   color: white;
   display: block;
   /*이게 꼭 필요*/
   padding-top: 10px;

}
.contents .cont3{
   grid-area: cont3;
   background-color: rgba(231, 243, 236, 0.6);

}
.contents .cont4{
   grid-area: cont4;
   background-color: rgba(246, 188, 188, 0.96);

}

/* search.css */

/* 장르별 검색 결과 위치 조정 */
.font-large3-bold {
   font-size: large;
   font-weight: bold;
   position: absolute;
   top: 200px; /* 원하는 위치로 조정하세요 */
   left: 500px; /* 화면 가운데 정렬 */
   transform: translateX(-50%); /* 가운데 정렬을 위한 transform */
}

.inline-block {
   display: inline-block;
}

.py {
   padding-top: 1em;
   padding-bottom: 1em;
}

.pxr {
   padding-left: 1em;
   padding-right: 1em;
}

.test-el-60 {
   position: absolute;
   top: 1500px;
}

.span{
   position: absolute;
   top: 500px;
}






.flex {
   display: flex;
}

.w-full {
   width: 100%;
}

.grow {
   flex-grow: 1;
}

.flex-col {
   flex-direction: column;
}

.px-122px {
   padding-left: 122px;
   padding-right: 122px;
}





.flex-container {
   display: flex;
   flex-wrap: wrap;
   justify-content: center;
}

.flex-wrapper {
   display: flex;
   justify-content: space-between;
   width: 100%;
   max-width: 1000px;
}

.flex-container {
   display: flex;
   justify-content: center;
   flex-wrap: wrap;
   max-width: 1000px;
   margin: 0 auto;

}

.flex-box {
   width: calc(33.33% - 20px);
   height: 220px;
   background-color: lightblue;
   margin: 10px;
   display: flex;
   justify-content: center;
   align-items: center;
   top: 200px;
   margin-top: 150px;
}



.flex-box1 {
   width: calc(33.33% - 20px);
   height: 220px;
   background-color: lightblue;
   margin: 10px;
   display: flex;
   justify-content: center;
   align-items: center;
   top: 700px;
   margin-top: 150px;
}

.flex-box img {
   display: block;
   margin: 0 auto;
   border-radius: 10px;
}





/* 공통 스타일 */
.flex {
   display: flex;
}

.cursor-pointer {
   cursor: pointer;
}

.items-center {
   align-items: center;
}

.justify-center {
   justify-content: center;
}

.py-16pxr {
   padding-top: 16px;
   padding-bottom: 16px;
}

.text-center {
   text-align: center;
}

/* 텍스트 스타일 */
.font-small2 {
   font-size: 0.875rem; /* font-small2에 해당하는 크기로 조정 */
}

.text-el-60 {
   font-size: 1.5rem; /* text-el-60에 해당하는 크기로 조정 */
}


.pointer-events-none {
   pointer-events: none;
}

/* 버튼 */
.h-59pxr {
   height: 59px;
}

.px-24pxr {
   padding-left: 24px;
   padding-right: 24px;
}

.border-line-10 {
   border: 1px solid #CCCCCC;
   border-radius: 4px;
}


.line-clamp-1 {
   overflow: hidden;
   text-overflow: ellipsis;
   white-space: nowrap;
}


.active\:opacity-30 {
   opacity: 0.3;
}

























.font-medium2 {
   font-weight: bold;
   font-size: 1.2em;

}


.line-clamp-2 {
   display: -webkit-box;
   -webkit-line-clamp: 2;
   -webkit-box-orient: vertical;
   overflow: hidden;
}


.break-word-anywhere {
   word-break: break-all;
}


.pb-2pxr {
   padding-bottom: 2px;
}


.text-el-70 {
   text-align: left;
}


.align-middle {
   vertical-align: middle;
}





@media (max-width: 1300px) {

}
@media (max-width: 768px) {

}
@media (max-width: 480px) {

}