<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>최근 본 작품</title>
    <link rel="stylesheet" href="/styles/styles.css"/>
    <link href="https://webfontworld.github.io/gmarket/GmarketSans.css" rel="stylesheet">
    <!--    폰트-->
</head>
<body>
<div id="wrap">
    <header>
        <!--        <a href="#">-->
        <!--        <div class="container">-->
        <!--            <article id="slider">-->
        <!--                <div class="sliderWrap">-->
        <!--                    <div class="slider s1">-->
        <!--                        <img src="img/01.png" alt="이미지 설명">-->
        <!--                        <span>이미지1</span>-->
        <!--                    </div>-->
        <!--                    <div class="slider s2">-->
        <!--                        <img src="img/02.png" alt="이미지 설명">-->
        <!--&lt;!&ndash;                        이미지 크기는 1200/200px&ndash;&gt;-->
        <!--                        <span>이미지2</span>-->
        <!--                    </div>-->
        <!--                    <div class="slider s3">-->
        <!--                        <img src="img/03.png" alt="이미지 설명">-->
        <!--                        <span>이미지3</span>-->
        <!--                    </div>-->
        <!--                </div>-->
        <!--            </article>-->
        <!--        </div>-->
        <!--        </a>-->
    </header>
    <nav>
        <div id="nav" class="container">
            <div class="nav_inner">
                <div class="nav__logo">
                    <a href="lay_out10.html">WEB <em>소설</em></a>
                </div>
                <div class="nav__manu">
                    <ul>
                        <li><a href="#" id="red">월간 베스트</a></li>
                        <li><a href="#">ALL</a></li>
                        <li><a href="#">리뷰 </a></li>
                        <li><a href="#">나도 작가</a></li>
                        <li><a href="#">MY</a></li>
                        <li><a href="#">공지 사항</a></li>
                    </ul>
                </div>
                <div class="nav__member">
                    <!--                    <a href="#">로그인</a>-->
                    <input type="checkbox" id="menuicon"/>
                    <label for="menuicon">
                        <span></span>
                        <span></span>
                        <span></span>
                    </label>
                    <div class="sidebar">
                        <!--                    사이드바-->
                        <div class="sidebar_cont1">
                            <a href="#">로그인</a>

                        </div>
                        <div class="sidebar_cont2">ee</div>
                        <div class="sidebar_cont3">ee</div>
                        <div class="sidebar_cont4">ee</div>
                        <div class="sidebar_cont5">ee</div>




                    </div>
                </div>
            </div>

        </div>
    </nav>
</div>

<div id="content" style="padding-top: 173px" ></div>





</body>
